- name: install python
  ansible.buitlin.dnf:
    name : "{{ item }}"
    state: present
  loop:
  - python3
  - gcc
  - python3-devel

- name: install dependencies
  ansible.builtin.pip:
     requirements: requirements.txt
     executable: pip3.9
  args:
     chdir: /app